<% if books.present? %>
  <div class="card shadow mt-4 mb-5 mx-auto">
    <div class="card-body">
      <table class="table table-hover">
        <thead class="lead fw-bolder">
        <tr>
          <th scope="col">Bok Title</th>
          <th scope="col">Author</th>
          <th scope="col">Date Published</th>
          <th scope="col">Publisher</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="lead">
        <% books.each do |book| %>
          <tr>
            <td><%= book.title %></td>
            <td><%= book.author %></td>
            <td><%= book.date_published.strftime('%a, %d %b %Y') %></td>
            <td><%= book.publisher_name %></td>
            <td>
              <%= link_to 'Show', csv_book_path(@csv, book), class:"btn btn-primary" %>
              <%= link_to 'Edit', edit_csv_book_path(@csv, book), class:"btn btn-dark" %>
              <%= link_to 'Delete', csv_book_path(@csv, book), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"btn btn-danger" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <h5 class="mt-4 mb-5 text-danger"><%= description %></h5>
<% end %>
