<h1 class="display-6">Edit Details of <%= current_user.full_name %></h1>

<div class="mt-4 mb-5 w-100 mx-auto">
  <div class="card shadow">

    <div class="card-body lead">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-3 col-form-label">First Name</label>
          <div class="col-sm-8">
            <%= f.text_field :first_name, class: "form-control", autofocus: true, autocomplete: "first-name" %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Last Name</label>
          <div class="col-sm-8">
            <%= f.text_field :last_name, class: "form-control", autofocus: true, autocomplete: "last-name" %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-8">
            <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-3 col-form-label">
            Password
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </label>
          <div class="col-sm-8">
            <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Password Confirmation</label>
          <div class="col-sm-8">
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Current Password</label>
          <div class="col-sm-8">
            <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
          </div>
        </div>

        <div class="row d-flex position-sticky py-3 bottom-0 bg-white bg-opacity-75 justify-content-center zindex-sticky">
          <div class="col" >
            <div class="d-grid gap-2 py-3 d-md-flex justify-content-center">
              <%= f.submit "Update", class:"btn btn-success" %>
              <%= link_to "Back", :back, class: "btn btn-secondary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
